@import util.IncludeHtml
@import models.EtlJob
@(pages:Page[EtlJob],jobName:Option[String],jobStatus:Option[String])

<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")" >
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/metisMenu/metisMenu.min.css")" >
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/sb-admin/css/sb-admin-2.css")" >
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/morrisjs/morris.css")" >
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/font-awesome/css/font-awesome.min.css")" >

        <title>Dashboard</title>

    </head>
    <body>

        <div id="wrapper">

            @IncludeHtml("/app/views/nav.scala.html")

            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">任务列表</h3>
                    </div>
                        <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row" >
                                    <div class="col-lg-11">
                                        <form method="get" action="/job/findPage" role="form" id="jobForm">
                                            <input type="hidden" name="pageNumber" value="@pages.page" />
                                            <div>
                                                <label for="jobName" class="col-sm-1">名称</label>
                                                <div class="col-sm-2">
                                                    <input type="text" class="form-control" name="jobName" value="@jobName" id="jobName" placeholder="任务名称">
                                                </div>
                                            </div>
                                            <div>
                                                <label for="jobName" class="col-sm-1">状态</label>
                                                <div class="col-sm-2">
                                                     <select name="jobStatus" class="form-control">
                                                         <option value="">未选择</option>
                                                         <option value="Pending" @if(!jobStatus.isEmpty) { @if(jobStatus.get.equals("Pending")){ selected = "selected"} } >Pending</option>
                                                         <option value="Running" @if(!jobStatus.isEmpty) { @if(jobStatus.get.equals("Running")){ selected = "selected"} } >Running</option>
                                                         <option value="Done" @if(!jobStatus.isEmpty) { @if(jobStatus.get.equals("Done")){ selected = "selected"} } >Done</option>
                                                         <option value="Failed" @if(!jobStatus.isEmpty) { @if(jobStatus.get.equals("Failed")){ selected = "selected"} } >Failed</option>
                                                     </select>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-default">查询</button>
                                        </form>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="btn" name="btn_add" class="btn btn-default">添加</button>
                                    </div>
                                </div>
                            </div>
                                <!-- /.panel-heading -->
                            <div class="panel-body">
                                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>名称</th>
                                            <th>运行状态</th>
                                            <th>脚本位置</th>
                                            <th>触发方式</th>
                                            <th>运行日期</th>
                                            <th>负责人</th>
                                            <th>运行次数</th>
                                            <th>是否可用</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for(job <- pages.items){
                                            <tr class="odd gradeX">
                                                <td>@job.jobName</td>
                                                <td>@job.jobStatus</td>
                                                <td>@job.jobScript</td>
                                                <td>@job.jobTrigger</td>
                                                <td>@job.lastRunDate</td>
                                                <td>@job.mainMan</td>
                                                <td>@job.retryCount</td>
                                                <td>@job.enable</td>
                                                <td>
                                                    <button type="button" name="btn_dep_stream" id="@job.jobName" class="btn btn-default">依赖</button>
                                                    <button type="button" name="btn_update" id="@job.jobName" class="btn btn-default">修改</button>
                                                    <button type="button" name="btn_delete" id="@job.id" class="btn btn-default" data-toggle="confirmation" >删除</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                    <!-- /.table-responsive -->
                            </div>
                                <!-- /.panel-body -->
                            <div>
                                <nav>
                                    <ul class="pager">
                                        @if(!pages.prev.isEmpty){
                                            <li><a href="javascript:void(0)" value="@pages.prevPage" id="prevPage">上一页</a></li>
                                        }
                                        @if(!pages.next.isEmpty){
                                            <li><a href="javascript:void(0)" value="@pages.nextPage" id="nextPage">下一页</a></li>
                                        }

                                    </ul>
                                </nav>
                            </div>
                        </div>
                            <!-- /.panel -->
                    </div>
                        <!-- /.col-lg-12 -->
                </div>

                    <!-- /.row -->
            </div>
                <!-- /#page-wrapper -->

        </div>
            <!-- /#wrapper -->

        <!--弹出层 -->
        <div class="modal fade" tabindex="-1" role="dialog" id="dep_stream_model">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="job_modal_title"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>前置任务</p>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td>名称</td>
                                                <td>状态</td>
                                                <td>最后运行日期</td>
                                            </tr>
                                        </thead>
                                        <tbody id="stream_job_modal">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12">
                                    <p>依赖任务</p>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td>名称</td>
                                                <td>状态</td>
                                                <td>最后运行日期</td>
                                            </tr>
                                        </thead>
                                        <tbody id="dependency_job_modal"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")" ></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")" ></script>
        <script src="@routes.Assets.versioned("lib/metisMenu/metisMenu.min.js")" ></script>
        <script src="@routes.Assets.versioned("lib/raphael/raphael.min.js")" ></script>
        <script src="@routes.Assets.versioned("lib/morrisjs/morris.min.js")" ></script>
        <script src="@routes.Assets.versioned("lib/data/morris-data.js")" ></script>
        <script src="@routes.Assets.versioned("lib/sb-admin/js/sb-admin-2.js")" ></script>
        <script src="@routes.Assets.versioned("lib/confirm/bootstrap-confirmation.js")" ></script>
    </body>

    <script type="text/javascript">

             $("#prevPage").on('click',function(e){
                 var prevPage = $(this).attr('value') ;
                 $("input[name='pageNumber']").val(prevPage) ;
                 $("#jobForm").submit() ;

             })


             $("#nextPage").on('click',function(e){
                 var nextPage = $(this).attr('value') ;
                 $("input[name='pageNumber']").val(nextPage) ;
                 $("#jobForm").submit() ;

             })


            $("[name='btn_add']").on("click",function(e){
                window.location.href="/job/prevAdd"
            })

           	$("[name='btn_update']").on("click",function(e){
                 var jobName = $(this).attr("id") ;
                 window.location.href="/job/prevUpdate/" + jobName
            })

            $("[name='btn_delete']").confirmation({
                title:"确认删除",
                btnOkLabel:"是",
                btnCancelLabel:"否",
                onConfirm:function(e){
                    var jobName = $(this).attr("id") ;
                    window.location.href="/job/delete/" + jobName ;
                }
            });

            $("[name='btn_dep_stream']").on("click",function(e){
                var jobName = $(this).attr("id") ;
                $.get("/job/showEtlJobMap/" + jobName,function(data,status){
                    console.log(data) ;
                    $("#job_modal_title").empty().append(jobName)
                    var stream = data.jobStream ;
                    var streamModal = $("#stream_job_modal") ;
                    streamModal.empty() ;
                    if(stream){
                        streamModal.append("<tr><td>"+stream.jobName+"</td><td>"+stream.jobStatus
                                    +"</td><td>"+stream.lastRunDate+"</td></tr>") ;
                    }
                    var dependencyModal = $("#dependency_job_modal") ;
                    dependencyModal.empty();
                    var dependency = data.jobDependency ;
                    if(dependency){
                        var appendStr = "" ;
                        for(var index in dependency){
                            var dep = dependency[index] ;
                            appendStr += "<tr><td>"+dep.jobName+"</td><td>"+dep.jobStatus
                                    +"</td><td>"+dep.lastRunDate+"</td></tr>" ;
                        }
                        dependencyModal.append(appendStr) ;
                    }

                    $("#dep_stream_model").modal({
                        keyboard: false
                    })
                })
            })
    </script>

</html>