<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Etl Schedule</a>
    </div>
        <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>退出</a>
                </li>
            </ul>
                <!-- /.dropdown-user -->
        </li>
            <!-- /.dropdown -->
    </ul>
        <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="/job/findPage"><i class="fa fa-bar-chart-o fa-fw"></i> 任务列表</a>
                </li>
                <li>
                    <a href="/monitor/list"><i class="fa fa-table fa-fw"></i> 负责人列表</a>
                </li>
                <li>
                    <a href="/queue/findPage"><i class="fa fa-edit fa-fw"></i>运行日志</a>
                </li>
            </ul>
        </div>
            <!-- /.sidebar-collapse -->
    </div>
        <!-- /.navbar-static-side -->
</nav>